.App {
  text-align: center;
}

th, td {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

th {
  text-align: center;
}

.editor {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.home-menu {
  display: flex;
  width: 100%;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  border-spacing: 5px;
}

.topnav {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  background-color: whitesmoke;
}

.topnav a {
  display: block;
  float: left;
  color: darkgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: darkgray;
}

.topnav .home-btn a.active {
  color: white;
}

.topnav a.active {
  background-color: lightsteelblue;
  color: black;
}

.topnav .icon {
  display: none;
}

.topnav .icon-logout {
  float: right;
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon-logout {
    display: none;
  }

  .topnav a.icon {
    display: inline-block;
  }
  
  .topnav {
    position:relative;
    width: 100%;
    top: 0;
    background-color: whitesmoke;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    top: 0;
    width: 100%;
    background-color: whitesmoke;
  }

  .topnav.responsive .icon-logout {
    display: block;
    position: absolute;
    float: right;
    right: 0;
  }

  .topnav.responsive a.icon {
    display: block;
  }

  .topnav.responsive a {
    display: block;
    text-align: left;
    position: relative;
  }
}

.dropdown-container {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 25px;
  float: left;
  display: block;
}

.dropdown-container-end {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  float: none;
  display: block;
}

.selection-panel {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px; 
  margin-left: 15%; 
  margin-right: 15%;
  display: block;
  text-align: left;
}

.question-submit-btn {
  margin-top: 5px;
  margin-bottom: 25px;
}